html,
body,
header {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

#atf {
    /* layout */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bird.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* formatting */
    color: whitesmoke;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Nosifer', fantasy, cursive;
    font-weight: lighter;
    color: red;
}