* {
    /* border: 2px solid hotpink !important; */
}

body {
    /* background-attachment: fixed; */
}

#idx-atf {
    /* layout */
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* background */
    background-color: lightgray;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-origin: border-box; */
    background-attachment: fixed;
    /* formatting */
    color: white;
}

.idx-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}